<div class="viewcat" style="background-color: aquamarine; max-height: 300vh;">
  <div class="container">
    <h2>View Registration Students</h2>            
    <table class="table table-hover">
  
        <tr>
          <th>Sl No.</th>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Student Address</th>
          <th>Student Phone</th>
        </tr>
      
        <tr *ngFor="let user of users;let i = index">
          <td>{{i+1}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phone}}</td>
        </tr>
    </table>
  </div>
  </div>