
<div style="text-align:center">
  <h1>
    Choose Subject
  </h1>
 </div>
 <div style="margin:20px 50px 20px 50px;">
<form #categoryform="ngForm" (ngSubmit)="onSubmit(categoryform)">
  <div class="form-group">
    <label for="subject">Subject</label>
  		<select [(ngModel)]="subject" name="subject" class="form-control"> 
				<option [selected]="subject == 'select'" [value]="select">SELECT SUBJECT</option>  
        <option  *ngFor="let cat of category" [value]="cat.categoryname">{{cat.categoryname}}</option>
			</select>
	</div>
  <div class="form-group">
    <input type="submit" class="form-control btn btn-success" id="inputdefault">
  </div>
</form>
</div>