
<div style="text-align:center">
  <h1>
    Add Category 
  </h1>
 </div>
 <div style="margin:20px 50px 20px 50px;">
<form #categoryform="ngForm" (ngSubmit)="onSubmit(categoryform)">
    <input type="hidden" name="_id" #_id="ngModel" ngModel [(ngModel)]="selectedCategory._id">
  <div class="form-group">
    <label for="category">Category Name</label>
    <input type="text" name="category" #qname="ngModel" ngModel [(ngModel)]="selectedCategory.categoryname" class="form-control" id="inputdefault" placeholder="Category Name">
  </div>
  <div class="form-group">
    <input type="submit" class="form-control btn btn-success" id="inputdefault">
  </div>
</form>
</div>